.DS_Store

*.htaccess
application/cache/
application/config/config.php
application/config/database.php
application/logs/
assets/uploads/images/
index.php
ftpsync.settings
sftp-config.json
*.tar
*.tgz
*[css|js]min*
