.DS_Store

.htaccess
application/.htaccess
application/cache/
application/config/config.php
application/config/database.php
application/logs/
assets/uploads/images/
index.php
ftpsync.settings
*.tar
*.tgz