.alteracoes-estrutura td {
	border: 1px solid;
}

.alteracoes-estrutura .desmarcado {
	color: #AAA;
}
.alteracoes-estrutura .desmarcado a {
	color: #9BD;
}

.alteracoes-estrutura .manter {
	background-color: #CFC;
}

.alteracoes-estrutura .atualizar {
	background-color: #FF6;
}
.alteracoes-estrutura .desmarcado .atualizar {
	background-color: #FFC;
}

.alteracoes-estrutura .cadastrar {
	background-color: #CDF;
}
.alteracoes-estrutura .desmarcado .cadastrar {
	background-color: #DEF;
}

.alteracoes-estrutura .remover {
	background-color: #FAA;
}
.alteracoes-estrutura .desmarcado .remover {
	background-color: #FEE;
}

.alteracoes-estrutura a > img {
	float: right;
}
